body {
  background-color: white;
  text-align: center;
  font-family: cursive;
}
#boxs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 122px;
}
#Multiplayer {
  margin-bottom: 10px;
}
#btnG {
  font-family: cursive;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  background-color: #ff8e00;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  color: white;
  padding: 15px;
  border: transparent;
}
.btn {
  cursor: pointer;
  background-color: #ff8e00;
  color: white;
  margin: 10px 0;
  border: none;
  padding: 15px;
  border-radius: 10px;
}
.startG {
  animation: myanim 83.3333333333s infinite ease-in-out;
  overflow: hidden;
  background-color: #ff8e00;
  width: 100%;
  height: 100%;
}
@keyframes myanim {
  1% {
    background: rgba(105, 85, 14, 0.96);
  }
  2% {
    background: rgba(7, 102, 125, 0.69);
  }
  3% {
    background: rgba(146, 221, 6, 0.73);
  }
  4% {
    background: rgba(141, 45, 150, 0.05);
  }
  5% {
    background: rgba(240, 2, 86, 0.34);
  }
  6% {
    background: rgba(56, 138, 122, 0.72);
  }
  7% {
    background: rgba(47, 115, 167, 0.61);
  }
  8% {
    background: rgba(3, 160, 121, 0.31);
  }
  9% {
    background: rgba(87, 234, 54, 0.94);
  }
  10% {
    background: rgba(129, 178, 124, 0.31);
  }
  11% {
    background: rgba(79, 41, 229, 0.09);
  }
  12% {
    background: rgba(164, 211, 41, 0.14);
  }
  13% {
    background: rgba(146, 191, 181, 0.13);
  }
  14% {
    background: rgba(66, 246, 232, 0.46);
  }
  15% {
    background: rgba(149, 181, 195, 0.8);
  }
  16% {
    background: rgba(100, 247, 23, 0.99);
  }
  17% {
    background: rgba(195, 239, 208, 0.98);
  }
  18% {
    background: rgba(120, 147, 80, 0.89);
  }
  19% {
    background: rgba(29, 158, 110, 0.98);
  }
  20% {
    background: rgba(141, 233, 211, 0.26);
  }
  21% {
    background: rgba(235, 21, 253, 0.67);
  }
  22% {
    background: rgba(18, 162, 210, 0.36);
  }
  23% {
    background: rgba(25, 103, 243, 0.88);
  }
  24% {
    background: rgba(148, 174, 50, 0.97);
  }
  25% {
    background: rgba(226, 151, 122, 0.16);
  }
  26% {
    background: rgba(114, 90, 238, 0.15);
  }
  27% {
    background: rgba(133, 56, 4, 0.64);
  }
  28% {
    background: rgba(101, 13, 176, 0.24);
  }
  29% {
    background: rgba(40, 62, 170, 0.65);
  }
  30% {
    background: rgba(201, 220, 114, 0.3);
  }
  31% {
    background: rgba(238, 70, 130, 0.95);
  }
  32% {
    background: rgba(43, 45, 79, 0.07);
  }
  33% {
    background: rgba(230, 136, 179, 0.35);
  }
  34% {
    background: rgba(6, 144, 228, 0.24);
  }
  35% {
    background: rgba(159, 81, 200, 0.48);
  }
  36% {
    background: rgba(209, 27, 236, 0.22);
  }
  37% {
    background: rgba(98, 71, 40, 0.63);
  }
  38% {
    background: rgba(39, 150, 239, 0.75);
  }
  39% {
    background: rgba(225, 127, 117, 0.98);
  }
  40% {
    background: rgba(7, 156, 49, 0.61);
  }
  41% {
    background: rgba(185, 157, 49, 0.75);
  }
  42% {
    background: rgba(242, 122, 41, 0.68);
  }
  43% {
    background: rgba(176, 75, 50, 0.4);
  }
  44% {
    background: rgba(190, 22, 49, 0.06);
  }
  45% {
    background: rgba(213, 143, 177, 0.33);
  }
  46% {
    background: rgba(70, 82, 236, 0.52);
  }
  47% {
    background: rgba(160, 248, 99, 0.81);
  }
  48% {
    background: rgba(1, 100, 66, 0.71);
  }
  49% {
    background: rgba(200, 229, 246, 0.79);
  }
  50% {
    background: rgba(214, 58, 88, 0.05);
  }
  51% {
    background: rgba(52, 140, 158, 0.03);
  }
  52% {
    background: rgba(153, 145, 183, 0.46);
  }
  53% {
    background: rgba(85, 15, 160, 0.5);
  }
  54% {
    background: rgba(135, 143, 82, 0.33);
  }
  55% {
    background: rgba(39, 107, 146, 0.46);
  }
  56% {
    background: rgba(41, 203, 24, 0.36);
  }
  57% {
    background: rgba(50, 3, 220, 0.83);
  }
  58% {
    background: rgba(46, 230, 163, 0.34);
  }
  59% {
    background: rgba(186, 131, 211, 0.3);
  }
  60% {
    background: rgba(206, 212, 104, 0.87);
  }
  61% {
    background: rgba(68, 216, 105, 0.14);
  }
  62% {
    background: rgba(81, 204, 97, 0.57);
  }
  63% {
    background: rgba(219, 131, 162, 0.92);
  }
  64% {
    background: rgba(68, 145, 156, 0.14);
  }
  65% {
    background: rgba(201, 69, 151, 0.82);
  }
  66% {
    background: rgba(203, 50, 206, 0.13);
  }
  67% {
    background: rgba(27, 106, 222, 0.47);
  }
  68% {
    background: rgba(200, 207, 90, 0.44);
  }
  69% {
    background: rgba(205, 73, 182, 0.33);
  }
  70% {
    background: rgba(110, 151, 142, 0.34);
  }
  71% {
    background: rgba(36, 195, 187, 0.89);
  }
  72% {
    background: rgba(93, 62, 40, 0.75);
  }
  73% {
    background: rgba(97, 167, 52, 0.21);
  }
  74% {
    background: rgba(54, 210, 232, 0.82);
  }
  75% {
    background: rgba(184, 190, 204, 0.82);
  }
  76% {
    background: rgba(145, 91, 155, 0.61);
  }
  77% {
    background: rgba(251, 250, 220, 0.47);
  }
  78% {
    background: rgba(69, 8, 131, 0.53);
  }
  79% {
    background: rgba(88, 3, 191, 0.51);
  }
  80% {
    background: rgba(28, 78, 116, 0.09);
  }
  81% {
    background: rgba(235, 67, 141, 0.59);
  }
  82% {
    background: rgba(54, 16, 207, 0.03);
  }
  83% {
    background: rgba(57, 222, 81, 0.85);
  }
  84% {
    background: rgba(200, 83, 216, 0.71);
  }
  85% {
    background: rgba(167, 57, 64, 0.53);
  }
  86% {
    background: rgba(101, 105, 133, 0.04);
  }
  87% {
    background: rgba(25, 208, 115, 0.24);
  }
  88% {
    background: rgba(143, 63, 56, 0.93);
  }
  89% {
    background: rgba(45, 166, 17, 0.98);
  }
  90% {
    background: rgba(134, 192, 246, 0.35);
  }
  91% {
    background: rgba(3, 188, 215, 0.28);
  }
  92% {
    background: rgba(250, 17, 49, 0.29);
  }
  93% {
    background: rgba(41, 208, 234, 0.12);
  }
  94% {
    background: rgba(40, 87, 244, 0.19);
  }
  95% {
    background: rgba(186, 218, 115, 0.22);
  }
  96% {
    background: rgba(60, 8, 48, 0.66);
  }
  97% {
    background: rgba(135, 236, 104, 0.2);
  }
  98% {
    background: rgba(36, 29, 127, 0.23);
  }
  99% {
    background: rgba(162, 99, 69, 0.98);
  }
}

.ball {
  position: absolute;
  border-radius: 100%;
}
h2 {
  margin: 0;
  color: #ff8e00;
  margin-bottom: 20px;
}

.NamePlayer {
  width: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}
.colorPlayerRed {
  border-radius: 50%;
  background-color: red;
  height: 25px;
  width: 25px;
}
.colorPlayerGreen {
  border-radius: 50%;
  background-color: green;
  height: 25px;
  width: 25px;
}
.colorPlayerBlue {
  border-radius: 50%;
  background-color: blue;
  height: 25px;
  width: 25px;
}
.colorPlayerYellow {
  border-radius: 50%;
  background-color: yellow;
  height: 25px;
  width: 25px;
}
.rules {
  width: 50%;
  margin: 0 auto;
}
.displayRules {
  display: none;
}
.rulestag {
  font-weight: bold;
}
input {
  margin-top: 10px;
  height: 25px;
  border-radius: 10px;
  border-color: #ff8e00;
}
.boxNames,
.boxNames1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 80px 0;
  border-radius: 10px;
  padding: 70px;
  background: white;
  width: 200px;
}
.displayBoxNames,
.displayBoxNames1 {
  display: none;
}
.bodyG {
  display: none;
}

.displayBtnG {
  display: none;
}

h1 {
  margin-bottom: 0;
  background: #ff8e00;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#board {
  background-color: rgb(204, 204, 204);
  border: 3px solid rgb(86, 86, 86);
  border-radius: 3px;
  width: 680px;
  height: 680px;
  display: flex;
  flex-wrap: wrap;
}

.tile {
  border: 2px solid rgb(86, 86, 86);
  width: 30px;
  background-color: white;
  font-size: 7px;
  height: 30px;
  color: black;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

#tetris0,
#tetris1,
#tetris2,
#tetris3 {
  z-index: 5;
  padding: 10px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 150%;
  margin-bottom: 20px;
}
.oneshap0,
.oneshap2,
.oneshap1,
.oneshap3 {
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: 40px;
}

.shap0 {
  cursor: pointer;
  border: 2px solid rgb(245 93 93 / 86%);
  background-color: red;
  width: 10px;
  height: 10px;
  color: black;
  font-weight: bold;
}
.shap1 {
  cursor: pointer;
  border: 2px solid rgba(0, 168, 0, 0.799);
  background-color: green;
  width: 10px;
  height: 10px;
  color: black;
  font-weight: bold;
}
.shap2 {
  cursor: pointer;
  border: 2px solid rgb(69 69 237 / 78%);
  background-color: blue;
  width: 10px;
  height: 10px;
  color: black;
  font-weight: bold;
}
.shap3 {
  cursor: pointer;
  border: 2px solid rgb(223 223 42 / 30%);
  background-color: yellow;
  width: 10px;
  height: 10px;
  color: black;
  font-weight: bold;
}
.shapNone {
  pointer-events: none;
  border: 2px solid transparent;
  background-color: transparent;
  width: 10px;
  height: 10px;
  color: black;
  font-weight: bold;
}
.none {
  pointer-events: none;
}
.tile:hover {
  cursor: pointer;
  /* background: rgb(135, 134, 134); */
}
.tile.Colorred.checked:hover {
  background-color: red;
}
.tile.Colorblue.checked:hover {
  background-color: blue;
}
.tile.Colorgreen.checked:hover {
  background-color: green;
}
.tile.Coloryellow.checked:hover {
  background-color: yellow;
}

.Colorred {
  background-color: red;
}
.hover-Colorred {
  background-color: rgba(255, 0, 0, 0.5);
}
.Colorblue {
  background-color: blue;
}
.hover-Colorblue {
  background-color: rgba(0, 0, 255, 0.5);
}
.Colorgreen {
  background-color: green;
}
.hover-Colorgreen {
  background-color: rgba(0, 255, 0, 0.5);
}
.Coloryellow {
  background-color: yellow;
}
.hover-Coloryellow {
  background-color: rgba(255, 255, 0, 0.5);
}
.allThePlayers {
  display: flex;
  margin: 0px 12.5%;
}

.disabled {
  color: #000;
}

#players {
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.scores {
  margin-top: -122px;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 10px;
  width: 680px;
  height: 50px;
  /* border: 2px solid white; */
}

.scoreAndBorad {
  padding: 59px 124px 0px 0px;
  margin-top: 60px;
}

/* .scores h3{
padding-bottom: 10px;
margin: 0;
} */

.not-allowed {
  display: none;
}

.notThePlayer {
  opacity: 0.05;
  /* cursor: not-allowed; */
}
.over {
  align-items: center;
  justify-content: center;
  display: flex;
  height: 30px;
  width: 100px;
  border: 1px solid black;
  background: white;
  color: black;
  padding: 20px;
  font-size: 20px;
  margin-top: 10px;
  border-radius: 10px;
  cursor: pointer;
  background: #ff8e00;
}
.rotate {
  align-items: center;
  justify-content: center;
  display: flex;
  height: 30px;
  width: 100px;
  border: 1px solid black;
  background: white;
  color: black;
  padding: 20px;
  font-size: 20px;
  margin-top: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.flip {
  align-items: center;
  justify-content: center;
  display: flex;
  height: 30px;
  width: 100px;
  border: 1px solid black;
  background: white;
  color: black;
  padding: 20px;
  font-size: 20px;
  margin-top: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.flip:hover {
  background: #ff8e00;
}
.rotate:hover {
  background: #ff8e00;
}
#ScorePlayer {
  display: flex;
  flex-direction: column;
}

.but {
  justify-content: center;
  display: flex;
  gap: 20px;
}

.doneClass {
  display: flex;
  justify-content: space-between;
}
.done {
  cursor: pointer;
  border-radius: 10px;
  display: flex;
  align-self: center;
  padding: 10px;
}

.red {
  background-color: red;
}
.blue {
  background-color: blue;
}
.green {
  background-color: green;
}
.yellow {
  background-color: yellow;
}

.rigthSide {
  margin-right: 162px;
}
